.headerMenu {
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  top: 9;
  z-index: 0;
  overflow-x: hidden;
}

.header-button {
  align-items: stretch;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  margin-right: 5%;
}

.loginImage {
  padding: "0 0 0 0%";
  display: "flex";
  flex-wrap: "wrap";
  color: white;
  justify-content: "right";
}
